.header{

    border: solid;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
}

.logo{
    width: 100px;
    height: 100px;
}
.header-contents>ul
{
    display: flex;
    list-style-type: none;
    font-size: 24px;
}
.header-contents>ul>li
{
    padding: 10px;
}

.res-card{
    width:300px;
    height: 400px;
    background-color: #f0f0f0;
    padding: 5px;
    margin: 5px;
}
.res-logo{
    width:300px;
    height: 300px;
    
}

.res-card:hover{
    border: 1px solid black;
}

.res-card> h3,h4,h6{
    margin:5px;
    white-space: nowrap; 
    width: 250px; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.restaurant-cards{
    flex-wrap: wrap;
    display: flex;

}